@font-face {
    font-family: psfont;
    src: url(assets/Gotham-Bold.otf);
}
body
{
	background-image: url("assets/BG-big.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
#barra-superior
{
	position: absolute;
}
#barra-inferior
{
	margin-top: 0;
}
#botao-sobre
{
	margin-right: 85px;
}
.botao
{
    display: inline;
    width: 40%;
}
#container-botoes
{
    max-width: 530px;
}
.row
{
	margin-left: 0;
	margin-right: 0;
}
#container-video
{
	margin-top: 30px;
	margin-bottom: 30px;
}
.form-group {
    box-sizing: border-box !important;
    float: left;
    margin: 0;
    padding: 5px;
    vertical-align: middle;
}

    .form-group > label {
        box-sizing: border-box !important;
        display: block;
        text-transform: none;
        font-weight: 400;
        width: 100%;
    }

    .form-group > input[type=text][disabled] {
        background: #c5c5c5;
    }

.dropdown > select[disabled] {
    background: #c5c5c5;
}

.form-group > input[type=text] {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 50px;
    padding: 5px 5px;
    width: 100%;
}

.form-group > input[type=tel] {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 50px;
    padding: 5px 5px;
    width: 100%;
}

.row-form {
    margin-top: 20px;
}

.inline-input {
    float: left !important;
}

.inline-input-2 {
    width: 22% !important;
}

.inline-input-2-margin {
    width: 22% !important;
    margin-right: 3%;
}

.inline-input-4 {
    width: 50% !important;
}

.inline-input-4-margin {
    width: 47% !important;
    margin-right: 3%;
}

.inline-input-6 {
    width: 75% !important;
}

.inline-input-6-margin {
    width: 72% !important;
    margin-right: 3%;
}

.inline-input-8 {
    width: 100% !important;
}
.inline-label {
    float: left !important;
    width: auto !important;
}
hr {
    border: none;
    height: 1px;
    border-bottom: 1px solid #5a5a5a;
    margin: 1em 0;
    background-color: #838282 !important;
}

.form-group > input[type=radio] {
    float: left;
    display: inline;
    vertical-align: middle !important;
    margin-right: 4px;
}

.form-group > span {
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
    clear: both;
}

.inline-label {
    float: left !important;
    width: auto !important;
}

.form-group > img {
    vertical-align: middle;
}
#container-hashtag
{
	margin-bottom: 30px;
}
#imagem-servicos
{
	margin-bottom: 70px;
    width: 490px;
}
.maozinha
{
	cursor: pointer;
}
#querganhar
{
	width: 35%;
	margin-bottom: 40px;
}
.container-botoes
{
	max-width: 220px;
}
span
{
	font-weight: bold;
	font-size: 1.4em !important;
}
p
{					
	color: white;
	font-size: 1em;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	text-justify: inter-word;
	font-family: psfont;
}
label
{
	color: white;
	font-size: 1em;
	font-family: psfont;
}
h2
{
	color: white;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	text-justify: inter-word;
	font-family: psfont;
}	
#contato
{
	margin-top: 10px;
	max-width: 90%;
}		
.container-texto
{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
@media screen and (max-width: 992px) {
  body 
  {
  	background-size: cover;
  }
  #querganhar
	{
		width: 65%;
	}
}